<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="">
  <title>Редагування</title>
</head>
<body>
  <h1 class="text-center">Редагувати клієнта</h1>
  <form action="" method="POST" class="text-center">
    <div class="mb-3">
        <label>
            Ім'я клієнта
            <input type="text" class="form-control" placeholder="Ім'я" id="NameClient" name="NameClient"
            value="<%= Client[0].NameClient %>">
        </label>
    </div>

    <label class="form-label">
        Пошта клієнта
        <input type="text" placeholder="Пошта" class="form-control" id="EmailClient" name="EmailClient"
        value="<%= Client[0].EmailClient %>">
    </label>

    <label class="form-label">
        Телефон клієнта
        <input type="text" placeholder="Телефон" class="form-control" id="PhoneClient" name="PhoneClient"
        value="<%= Client[0].PhoneClient %>">
    </label>
    <br>
    <button type="submit" class="btn btn-primary" formaction="/api/client/put/<%= Client[0].IdClient %>">Редагувати</button>
    <a class="btn btn-info" href="/api/client">Повернутись</a>
  </form>
</body>
</html>