<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="">
  <title>Редагування</title>
</head>
<body>
  <h1 class="text-center">Редагувати Ваірант відповіді</h1>
  <form action="" method="POST" class="text-center">
    <div class="mb-3">
        <label>
            Код питання
            <input type="text" class="form-control" placeholder="Код" id="IdClQuestion" name="IdClQuestion"
            value="<%= option.IdClQuestion %>">
        </label>
    </div>

    <label class="form-label">
        Текст варіанту
        <input type="text" placeholder="Текст" class="form-control" id="TextAnsOpt" name="TextAnsOpt"
        value="<%= option.TextAnsOpt %>">
    </label>
    <br>
    <button type="submit" class="btn btn-primary" formaction="/api/option/put/<%= option.IdAnsOpt %>">Редагувати</button>
    <a class="btn btn-info" href="/api/option">Повернутись</a>
  </form>
</body>
</html>