
div(id="content")(style="display: none")
  article
    section.welcome_section
      h1.welcome Вітаємо!
      p Раді бачити вас у вашому особистому кабінеті! Тут ви можете переглядати створені опитування, запускати нові дослідження та аналізувати результати.  Керуйте своїми маркетинговими кампаніями легко та ефективно!
    section.survey_section
      h3 Ваші чернетки
      p Тут зібрані усі опитування, що поки не стали активними
      div#draft-container.survey_section
      button.hover.button#Create Створити
    section.survey_section.margin
      h3 Активні опитування
      p Тут зібрані усі активні та завершені опитування
      div#active-container.survey_section