
html(lang="ua")
  head
    meta(charset="utf-8")
    title Survey Page
    script(type="module")
  body
    include ./choose_client.pug
    include ./header.pug
    main
      include ./survey_content.pug
      include ./content.pug
    include ./footer.pug
