div(id="surveyContent")(style="display: none")
  div.survey_buttons 
    button.hover.button.SurveyBtn Повернутись
    button.hover.button.SurveyBtn#deleteSurvey Видалити
  div.inputs_div
    div.input_label 
      p.input_p Назва:
      input.name_input(type="text" id="name" name="name" placeholder="Введіть назву")
    div.input_label.items_start
      p.input_p Опис:  
      textarea.name_input(height rows="4" id="about" name="about" placeholder="Введіть опис")
  div.survey_buttons.draft_only
    button.hover.button#newQuestionBtn Нове питання
    button.hover.button#Activate Активувати 
  div#questionTypeSelector(style="display: none; margin-top: 10px;")
    label Оберіть тип питання:
    select#questionType
      option(value="open") Відкрите
      option(value="single") Закрите (одна відповідь)
      option(value="multiple") Закрите (кілька відповідей)
    button#confirmQuestionType Додати
  div.answer
  
  


