@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bitter:ital,wght@0,100..900;1,100..900&family=Gabriela&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import './reset.scss'; 
@import './mixin.scss'; 
@import './header.scss'; 
@import './footer.scss';
@import './content.scss';
@import './survey.scss';


html {
  @include sizeText($p-font-size);
  color: $black-color;
  background-color: $white-color;
}

body{
  margin: auto;
  font-family: 'Roboto';
}


h1{
  @include sizeText($h1-font-size);
  font-family: 'Bitter';
}

h2 {
  @include sizeText($h2-font-size, bold);
  font-family: 'Bitter';
}

h3 {
  @include sizeText($h3-font-size, 500);
  font-family: 'Bitter';
  color:$dark-green-color;
}

p{
  @include sizeText($p-font-size);
}

footer{
  background-color: $light-green-color;
}

.button{
  @include button ();
}

#surveyContent {
  display: none;
}

